DEBUG=False

#数据库引擎，可选 postgres/sqlite
DATABASE_ENGINE=postgres
DATABASE_NAME=megastack
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

CELERY_BROKER_URL=amqp://admin:password@127.0.0.1:5672/megaops
CELERY_RESULT_BACKEND=redis://:password@127.0.0.1:6379/0   # 'django-db'
CELERY_RESULT_SERIALIZER=json